<h1> ジャンル一覧</h1>

<% @genres.each do |genre|%>
  <%= genre.genre_name %>
  <%= link_to '削除', admins_genre_path(genre), method: :delete %><br>
  <%end%><br>

<%= form_for [:admins, @genre] do |f| %>
	<%= f.text_field :genre_name %>

	<%= f.submit "ジャンルを追加" %>
<% end %>
