
<h1>カート内商品</h1>

<%= form_tag update_all_path, method: :put do%>
<div>
  <% @carts.each do |cart| %>
   <%= fields_for "carts[]",cart do |fc| %>
   <div>
     <strong><%= cart.product.cd_title%></strong>
     <%= attachment_image_tag cart.product, :product_image, :fill, 200, 200 %>
     <%= fc.label :quantity, "数量"%>
     <%= fc.select :quantity, cart.cart_quantity %>

   <%end%>
     <%= link_to "カートから削除", cart_path(cart), method: :delete %>
   </div>
  <%end%>
</div>
<% if @carts.presence %>
  <%= submit_tag "支払方法・配送先指定へ" %>
<% end %>
<%end%>