<div>
<%= link_to "商品一覧へ", admins_products_path %><br>
<%= link_to "商品の追加" , new_admins_product_path %><br>
<%= link_to "ユーザー情報一覧" , admins_clients_path %><br>
</div>

<h1> 商品の新規追加</h1>

<%= render 'form', product: @product %>

<%= link_to "商品一覧へ", admins_products_path %>
