<h2> 注文内容詳細</h2>
<% @order.order_products.each do |op| %>
  <div class="col-xs-10">
    <div class="col-xs-4">
      <%= attachment_image_tag op, :product_image, :fill, 200, 200 %><br>
      <h4 style="margin-bottom: 5px;">
        <strong> 価格（税込価格）</strong><br>
        税込<%= op.price %>円</h4><br>
      <h4 style="margin-bottom: 5px;">
        <strong>配送状況</strong><br>
        <%= op.ship_status_i18n %></h4>
    </div>

    <div class="col-xs-1"></div>

    <div class="col-xs-8 border">
      <h3> CD/アルバム情報</h3>
        <strong>CD/アルバム名</strong>
        <%= op.cd_title %><br>
        <strong>アーティスト名</strong>
        <%= op.artist_name %><br>
        <strong>レーベル名</strong>
        <%= op.label_name %><br>
        <strong>ジャンル</strong>
        <%= @genre.genre_name %><br>
        <strong>価格</strong>
        <%= op.price %>円<br>

      <div class="col-xs-12 border"></div>

        <strong>送付先</strong>
          <%= @order.to_address %><br>
        <strong>
          購入日<%= op.created_at.strftime("%Y年%m月%d日") %>
        </strong>
        <div style="margin-bottom: 30px;"></div>
    </div>
  </div>
<% end %>

